# Database connection string
DATABASE_URI=postgres://postgres:<password>@127.0.0.1:5432/your-database-name

# Or use a PG connection string
#DATABASE_URI=postgresql://127.0.0.1:5432/payload-template-website

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Whether to allow the server to create the Azure Storage container if it doesn't exist
AZURE_STORAGE_ALLOW_CONTAINER_CREATE=true

# The Storage Account Base URL
AZURE_STORAGE_ACCOUNT_BASEURL=https://<account-name>.blob.core.windows.net/

# The connection string for the Azure Storage Account, can be found in "Security + Networking" > "Access keys"
AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=<protocol>;AccountName=<account-name>;AccountKey=<account-key>;EndpointSuffix=<endpoint-suffix>;"

# The Container Name
AZURE_STORAGE_CONTAINER_NAME=media
